/*
Esta pagina esta buena para CSS www.exasoluciones.com/inicio/tutoriales/css
En el Archivo HTML deberia poner lo siguiente 
<link href="styles/style.css" rel="stylesheet" type="text/css" />
*/

/*
REGLA: P es el selector de lo que queremos seleccionar
	   COLOR es la propiedad que queremos modificar
	   BLUE es el VALOR que le queremos dar a esa propiedad

p {
	color: blue;
}

*/

/* ETIQUETA DIV: todas las etiquetas DIV tendrán color rojo.
   Si en el HTMl pusimos <div id='hola'> podriamos poner #hola sin poner el div				*/
div{
	color: red
	
}
/* Titulos y algunas propiedades de letras FUENTE*/
h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12;
	font-style: normal;
	font-weight: bolder;

}
h2{
}
h3{}

/*LISTAS Y DISTINTOS TIPOS DE "COSOS" QUE VAN ANTES DE CADA ELEMENTO DE LA LISTA*/
ul{
	list-style: circle;
	list-style: decimal;
	list-style: square;
}
li{
	/*Con LI especificamos cada elemento de la lista*/
}


/*PUEDE IR HASTA UNA IMAGEN DENTRO DE LOS "COSOS" ESPECIFICANDO LA URL  
   CON Position cambiamos la posición de lo que está dentro de la lista	 */
ul{
	list-style-image: url("google.jpg");
	list-style-position: outside;
}

/*PARRAFOS VAN CON P Y ALGUNAS PROPIEDADES QUE PODEMOS ESPECIFICAR*/
p{

	background-color: aqua;
	color: aliceblue;
	border: 2px solid red;
}

/*TABLAS, THEAD Y TBODY Y CARACTERISTICAS DE LAS MISMAS
  <TR> Son los elementos de una fila
  y dentro especificamos con <td> cada uno en especifico 
  Ejemplo:
  <tr>                              _Hola   _
	<td> 1 </td>                  ! 1 ! 2 !
	                                -   -							
	<td> 2 </td>    
	<caption> Hola </caption>              
  </tr>
  COLLAPSE: significa si el borde está pegado o no collapse/separate
  SPACING: espacio entre celdas 
  CAPTION SIDE: posición de la leyenda de la tabla
  PADDING: espacio que hay dentro del campo de texto*/

table{
	border-collapse: collapse;
	border-spacing: 1px;
	caption-side: top;
	background-color:yellow;
	padding: 12px 20px;
}

/*FORMULARIOS Y TIPOS DE LOS FORMULARIOS
  Type= text se refiere a los textos
  Type= password se refiere a las contraseñas
  Type= number se refiere a los numeros
  Type= button se refiere a los botones
  Podemos poner varios separados por comas como acá abajo

*/
input[type=text], input[type=number]{

}

/* Ejemplo página web: con Encabezado, Menú de navegación, Contenido, Contenido Principal y pie de página
ENCABEZADO:
header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}

MENÚ DE NAVEGACIÓN: La pseudoclase:HOVER hace referencia a lo que sucede cuando pasamos el mouse por un link
nav {
  overflow: hidden;
  background-color: #333;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}

CONTENIDO:
.columna {
  float: left;
}
.columna.lateral {
  width: 25%;
}
.columna.principal {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .columna.lateral, .columna.principal {
    width: 100%;
  }
}								
En HTML el contenido sería declarado así:
<div class="fila">
  <div class="columna lateral">
    <h2>Columna 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </div>
  <div class="columna principal">
    <h2>Columna 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </div>
  <div class="columna lateral">
    <h2>Columna 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </div>
</div>

PIE DE PÁGINA:
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
} 




*/
}


body
{}
